<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
   </configSections>
   <appSettings>
      <add key="UI.Tests.SUT.Url" value="http://99x.test.fdvu.net" />
      <add key="UI.Tests.Timeout" value="10" />
      <add key="UI.Tests.Target.Browser" value="FireFox" />
      <add key="UI.Tests.Object.Definitions.Path" value="E:\Projects\pageobjectdefs\" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
   </appSettings>
   <specFlow>
      <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
      <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
      <unitTestProvider name="MSTest" />
      <stepAssemblies>
         <stepAssembly assembly="CodeBySpecification" />
      </stepAssemblies>
   </specFlow>
</configuration>