<hgroup class="title">
    <h1>IFrame Two</h1>

</hgroup>


<section class="contact">
    <header>
        <h3>My sample form</h3>
    </header>
    <form>
        <input id="Text1" type="text" />
        <input id="Button1" type="button" value="button" />
    </form>
    <iframe src="~/TestPages/IFrames_test_2_2.cshtml" width="100%" height="500px" id="iframe_test_two_2"></iframe>

    
</section>