@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "IFrames testing";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2>Let's switch in between IFrames</h2>
</hgroup>
<br/>
<section class="iframe_test">
    <h2>IFrame test one</h2>
    <br />
    <iframe src="~/TestPages/IFrames_test_1_1.cshtml" width="100%"  height="500px" id="iframe_test_one"></iframe>
</section>
<hr />
<section class="iframe_test">
    <h2>IFrame test two</h2>
    <br />
    <iframe src="~/TestPages/IFrames_test_2_1.cshtml" width="100%" height="500px" id="iframe_test_two"></iframe>
</section>

<section class="iframe_test">
    <form>
        <input id="Text1" type="text" />
        <input id="Button1" type="button" value="button" />
    </form>
</section>