<style media="screen">
    body {
        padding: 0;
        margin: 0;
        font-family: monospace;
    }

    h2 {
        font-family: monospace;
    }

    h3 {
        font-family: monospace;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
    }

    ul {
        padding: 0;
    }

    .header {
        background: #E6E6E6;
        border-bottom: 1px solid #D6D6D6;
        padding: 1px 15px;
        color: #717171;
        font-family: monospace;
    }

    .container {
        padding: 20px;
    }

    .feature {
        border: 1px solid #CECECE;
        padding: 30px;
        box-shadow: 1px 1px 1px 1px #E0E0E0;
        margin-bottom: 10px;
        padding-top: 40px;
    }

    .scenario {
        cursor: pointer;
        list-style: none;
        border: 1px solid #eee;
        padding: 10px;
        margin: 10px 0;
    }

        .scenario h3 {
            margin: 5px;
            line-height: 32px;
            height: 32px;
        }

            .scenario h3 img {
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }

    .OK {
        border: 1px solid #2B9642;
    }

    .ERROR {
        border: 1px solid #E0626E;
    }
</style>
<body>
    <div class="header"><h1>CodeSpec 1.0</h1></div>
    <div class="container">
        @{int j = 0;}
        @foreach (var feature in @Model.test.features)
        {
        <div class="feature">
            <h2>@feature.title</h2>
            <hr>

            <p>@feature.description</p>
            <ul>
                @{int i = 0;}
                @foreach (var scenario in feature.scenarios)
                {
                <li id="el-@j-@i" class="scenario @(@scenario.status == 'ok' ? 'OK' : 'ERROR' )" onclick="togglePanel(this.id)">
                    <h3>
                        @if(@scenario.status != "ok"){
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABVUlEQVQ4T5XTP0tcURAF8N9WLn6KxD9FAkYLBe0kKQMiQWKRysL/YBEsJCgGTJOAhcjGpA+mULHTRv0AokZEiAYJ+gVMG7dJGLhPHusmu97qvXvmnDkzd6bg7mnHGJ7iQYIvsYtPOMlTCrmfIpYwjD/Yx1nCH6ELEb+C17gJLBMI8jZ6sYo3uKowF27e4yX28By/M4HPGMFMCqpS2e3VLBbwEZMhEDV/w1e8+h8zh63jRXCzmiJ7UxXb/9JrwY9wEQLnuEZPndmzsEM0hkB0Mxo3lJDjGkIdCf+CgWoCBzUEOisFooRf6L5nCUcohoN4jlE0IyauntOaelcKgSeIutcwWA8bm+jLnjE4JUxgDu9qiLzFPJYxlU1iA7bSAm2kibyoEArbH9CPnTTK5cplWsR4IsZ0fk/fjxHPF0sWbqdRzi9TPllbauozPEzAz7TOsTOn+eC/IB5DLs2AX+AAAAAASUVORK5CYII=" />
                        }
                        else{
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABOklEQVQoU5XTzyvlURjH8ZcFko2VHymSJEozkkJpFlZWsxAaSWEWWLCzkP/AQklRlKYZG6WRlY2F2IgmUUiShZBsLCYJpa/Oreu698qpZ3HOed7P+Tyfp5Mh/arCUaqUjDRsDg5Qg/tkeengfsyjDwufhf+hAJeo/wzciA00YBtN2EksEMmuQBHyQ0SvteIUXVhCCdZwExdXEdyJX8jGHq5DTGIftRgJLRTiKx7QEzPsG1awip94TNJjVjAuUvUdm/FuVwdpJ2jDXVyBPPxFWWjpdfaJoyrGOdqDkhgf7RdRiqvYYSJciePQ3y1asB4MvUA5zlLBvRjDD8yiDrsYwDLG8ScVPIcO5OI3JjCKbvwP0odSwYd4QpSwFWdYM2bwjC/J4OgjDGIqFEicViaGMR3m/M7tD37o2+sXi4E+jGE1PSsAAAAASUVORK5CYII=" />
                        }

                        @scenario.title
                        IOGVYVYVLYVLYV
                    </h3>
                    <div id="panel-el-@j-@i" style="display:none">
                        Start time : @scenario.startTime <br>
                        End time : @scenario.endTime <br>
                        @if(@scenario.status != "ok"){
                        <p>@scenario.error.message</p>
                        <p>@scenario.error.stackTrace</p>
                        }
                        <hr>
                        tgrhsrthsrth
                    </div>
                </li>

                i++;
                }
            </ul>
        </div>
        j++;
        }
    </div>
    <script>
  function togglePanel(id)
  {

    scenario =	document.querySelector('#panel-'+id);
    scenario.style.display = scenario.style.display === 'none' ? '' : 'none';
  }
    </script>
</body>"<style media="screen">
    body {
        padding: 0;
        margin: 0;
        font-family: monospace;
    }

    h2 {
        font-family: monospace;
    }

    h3 {
        font-family: monospace;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
    }

    ul {
        padding: 0;
    }

    .header {
        background: #E6E6E6;
        border-bottom: 1px solid #D6D6D6;
        padding: 1px 15px;
        color: #717171;
        font-family: monospace;
    }

    .container {
        padding: 20px;
    }

    .feature {
        border: 1px solid #CECECE;
        padding: 30px;
        box-shadow: 1px 1px 1px 1px #E0E0E0;
        margin-bottom: 10px;
        padding-top: 40px;
    }

    .scenario {
        cursor: pointer;
        list-style: none;
        border: 1px solid #eee;
        padding: 10px;
        margin: 10px 0;
    }

        .scenario h3 {
            margin: 5px;
            line-height: 32px;
            height: 32px;
        }

            .scenario h3 img {
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }

    .OK {
        border: 1px solid #2B9642;
    }

    .ERROR {
        border: 1px solid #E0626E;
    }
</style>
<body>
    <div class="header"><h1>CodeSpec 1.0</h1></div>
    <div class="container">
        @{int j = 0;}
        @foreach (var feature in @Model.test.features)
        {
        <div class="feature">
            <h2>@feature.title</h2>
            <hr>

            <p>@feature.description</p>
            <ul>
                @{int i = 0;}
                @foreach (var scenario in feature.scenarios)
                {
                <li id="el-@j-@i" class="scenario @(@scenario.status == " ok" ? "OK" "ERROR" )" onclick="togglePanel(this.id)">
                    <h3>
                        @if(@scenario.status != "ok"){
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABVUlEQVQ4T5XTP0tcURAF8N9WLn6KxD9FAkYLBe0kKQMiQWKRysL/YBEsJCgGTJOAhcjGpA+mULHTRv0AokZEiAYJ+gVMG7dJGLhPHusmu97qvXvmnDkzd6bg7mnHGJ7iQYIvsYtPOMlTCrmfIpYwjD/Yx1nCH6ELEb+C17gJLBMI8jZ6sYo3uKowF27e4yX28By/M4HPGMFMCqpS2e3VLBbwEZMhEDV/w1e8+h8zh63jRXCzmiJ7UxXb/9JrwY9wEQLnuEZPndmzsEM0hkB0Mxo3lJDjGkIdCf+CgWoCBzUEOisFooRf6L5nCUcohoN4jlE0IyauntOaelcKgSeIutcwWA8bm+jLnjE4JUxgDu9qiLzFPJYxlU1iA7bSAm2kibyoEArbH9CPnTTK5cplWsR4IsZ0fk/fjxHPF0sWbqdRzi9TPllbauozPEzAz7TOsTOn+eC/IB5DLs2AX+AAAAAASUVORK5CYII=" />
                        }
                        else{
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABOklEQVQoU5XTzyvlURjH8ZcFko2VHymSJEozkkJpFlZWsxAaSWEWWLCzkP/AQklRlKYZG6WRlY2F2IgmUUiShZBsLCYJpa/Oreu698qpZ3HOed7P+Tyfp5Mh/arCUaqUjDRsDg5Qg/tkeengfsyjDwufhf+hAJeo/wzciA00YBtN2EksEMmuQBHyQ0SvteIUXVhCCdZwExdXEdyJX8jGHq5DTGIftRgJLRTiKx7QEzPsG1awip94TNJjVjAuUvUdm/FuVwdpJ2jDXVyBPPxFWWjpdfaJoyrGOdqDkhgf7RdRiqvYYSJciePQ3y1asB4MvUA5zlLBvRjDD8yiDrsYwDLG8ScVPIcO5OI3JjCKbvwP0odSwYd4QpSwFWdYM2bwjC/J4OgjDGIqFEicViaGMR3m/M7tD37o2+sXi4E+jGE1PSsAAAAASUVORK5CYII=" />
                        }

                        @scenario.title
                        ;UIOGVYVYVLYVLYV
                    </h3>
                    <div id="panel-el-@j-@i" style="display:none">
                        Start time : @scenario.startTime <br>
                        End time : @scenario.endTime <br>
                        @if(@scenario.status != "ok"){
                        <p>@scenario.error.message</p>
                        <p>@scenario.error.stackTrace</p>
                        }
                        <hr>
                        tgrhsrthsrth
                    </div>
                </li>

                i++;
                }
            </ul>
        </div>
        j++;
        }
    </div>
    <script>
  function togglePanel(id)
  {

    scenario =	document.querySelector('#panel-'+id);
    scenario.style.display = scenario.style.display === 'none' ? '' : 'none';
  }
    </script>
</body>