<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="MSTest" />
		<stepAssemblies>
			<stepAssembly assembly="CodeBySpecification" />
		</stepAssemblies>
	</specFlow>
	<appSettings>
		<add key="UI.Tests.SUT.Url" value="http://localhost:50400" />
		<add key="UI.Tests.Timeout" value="10" />
		<add key="UI.Tests.Target.Browser" value="FireFox" />
		<add key="UI.Tests.Target.URI" value="http://127.0.0.1:4723/wd/hub" />
		<add key="UI.Tests.Appium.Platform" value="Android" />
		<add key="UI.Tests.Appium.capability.deviceName" value="Android Emulator" />

		<!-- At the moment no other browser is supported -->
		<!-- 	You can chose to have a CSV based object repository. Refer to Tutorial for more information -->
		<add key="UI.Tests.Object.Definitions.Path" value="E:\Projects\CodeSpec\CodeBySpecification\CodeSpecSampleTest\ObjectRepo" />
		<!-- This folder must be available. Please create it if it doesn't exists -->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>