<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="MSTest" />
		<stepAssemblies>
			<stepAssembly assembly="CodeBySpecification" />
		</stepAssemblies>
	</specFlow>
	<appSettings>
		<add key="UI.Tests.SUT.Url" value="http://surenr.github.io/CodeSpec/demo/" />
		<add key="UI.Tests.Timeout" value="10" />
		<add key="UI.Tests.Target.Browser" value="FireFox" />
		<add key="UI.Tests.Appium.URI" value="http://172.20.8.164:4723/wd/hub" />
		<add key="UI.Tests.Appium.capability.platformName" value="iOS" />
		<add key="UI.Tests.Appium.capability.platformVersion" value="9.0" />
		<add key="UI.Tests.Appium.capability.deviceName" value="Facilit iPhone 6 Plus" />
		<add key="UI.Tests.Appium.capability.bundleId" value="no.facilit.HelpdeskFDVUTest" />

		<add key="UI.Tests.Reports.output.path" value="E:\CodeSpec" />
		<!-- 	You can chose to have a CSV based object repository. Refer to Tutorial for more information -->
		<add key="UI.Tests.Object.Definitions.Path" value="E:\Projects\codespec\CodeSpec\CodeBySpecification\CodeSpecSampleTest\ObjectRepo" />
		<!-- This folder must be available. Please create it if it doesn't exists -->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
