@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title!</h1>
            <h2>This is CodeSpec sample project for UI testing</h2>
        </hgroup>
        <p>
            To learn more about ASP.NET Web Pages, visit
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>.
            The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web Pages.
            If you have any questions about ASP.NET Web Pages, visit
            <a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages Forum">our forums</a>.
        </p>
    </div>
</section>
}

<h3>What we are going to test here are the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Simple HTML forms</h5>
        Simple HTML forms contains a <code>&lt;form&gt;</code> element 
        <a href="TestPages/HTML_Form">Visit Page</a>
    </li>

    <li class="two">
        <h5>Advanced HTML5 forms</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>IFrame switching</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>